<p id="notice"><%= notice %></p>

<h1><%= @anon.title %></h1>
<p class="text-muted">This anonymous post was posted on <%= local_time_ago @anon.created_at %></p>
<%= @anon.body %>

<br>
<br>
<% if current_user.id == @anon.user.id %>
<%= link_to 'Edit', edit_anon_path(@anon), class: "btn btn-warning" %>
<% end %>


<%= render partial: "comments/comments", locals: {commentable: @anon} %>

<%= render partial: "comments/form", locals: {commentable: @anon} %>

<%= link_to 'Back', anons_path, class: "btn btn-success" %>
