<p id="notice"><%= notice %></p>
<div class="container">
    <h1> <%= @job.title %></h1>
    <p class="text-muted">This job was posted by <%= @job.user.name %></p>

 <h3><strong>Description:</strong></h3>
 <h3><%= @job.description %></h3>
<br>
    <h4><strong>Contact Info: </strong><%= @job.phone %> | <%= @job.email %></h4>





  <% if current_user.id == @job.user.id %>

    <div class="panel-footer">
<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
            <% end %>

        <%= link_to 'Back', jobs_path, class: "btn btn-success" %>
</div>
</div>
