<p id="notice"><%= notice %></p>
<div class="pull-right">
  <%= link_to 'Add a new event!', new_event_path, class: "btn btn-success" %>
</div>
<h1>Events</h1>
  <p>These are all the events happening near you!</p>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Title</th>
      <th>Cost</th>
      <th>Where</th>
      <th>Start time</th>
      <th>End time</th>
               </thead>
        </tr>
    <tbody>
      <% @events.each do |event| %>
        <tr>
        <td><%= link_to event.title, event %></td>
        <td>$<%= link_to event.cost, event %></td>
        <td><%= link_to event.where, event %></td>
        <td><%= link_to event.start.strftime("%B %e, %Y at %l:%M %p"), event %></td>
        <td><%= link_to event.end.strftime("%B %e, %Y at %l:%M %p"), event %></td>
        </tr>
        <% end %>
        </tbody>
  </table>
<br>
<%= link_to 'Home', root_path, class: "btn btn-info" %>
