<div class="row">
    <% current_user.posts.each do |post| %>
      <div class="col-md-6">
     <div class="panel panel-default">
      <div class="panel-heading">
       <%= link_to post.title, post %>
     </div>
     <div class='panel-body'>
         <p><%= post.content[0..150] %>...[<%= link_to 'Read More', post %>]</p>
         <strong><p>You last updated this post on <%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p></strong>

        </div>
        <div class='panel-footer'>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
       </div>
      </div>
    </div>
<% end %>
</div>
